* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --grå: #0808088a;
    --rød: #730202;
    --lys: #F2EEB3;
    --mørkgrøn: #222601;
    --lysgrøn: #384002;
    --hvid: #ffff;
    --sort: #000000;
  }
  
  html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    letter-spacing: 0.2rem;
  }
  
  img {
    max-width: 100%;
  }

  @import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
















  /*nav start*/


































































































  /*nav slut*/
  /*forside start*/






































































































































































































  /*forside slut*/
  /*boder start*/








































































































































































































/*boder slut*/
.page-color {
 background-color:var(--rød);
  }

.tivoli-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.397);
  padding: 0.3rem;
  text-align: center;
  margin: 0 4%;
  font-size: 2.2rem;
  letter-spacing: 0.5rem;
  font-family: "Amiri";
}

.tivoli-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 3% 4%;
  }

.tivoli-grid-container article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tivoli-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f2eeb3a6;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
 }

 .tivoli-text-container h4 {
   font-weight: normal;
   font-family: "Amiri";
   font-size: 1.3rem;
   letter-spacing: 0.2rem;
 }

 .tivoli-price {
 padding: 5% 0;
 font-size: 1.1rem;
 }

 @media screen and (max-width: 767px) {
  .tivoli-grid-container {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
 }




























































































  /*tivoli slut*/
   /*juletræstænding med julemanden start*/


































































































  /*juletræstænding med julemanden slut*/
   /*julelystænding start*/


































































































  /*julelystænding slut*/
   /*historie start*/


































































































  /*historie slut*/
   /*det sker også i aalborg start*/


































































































  /*det sker også i aalborg slut*/